/* Responsive Web */

.sobreSection {
    padding-bottom: var(--font-size-14xl);
}

.sobreContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.sobreText{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}
.sobreText h2 {
    font-size: var(--font-size-4xl);
    color: var(--color-primary);
}

.sobreText p {
    font-size: var(--font-size-lg);
    color: var(--color-text);
    max-width: 600px;
    line-height: 1.6;
}

/* Responsive mobile */

@media (max-width: 1000px) {
    .sobreContainer {
        flex-direction: column;
        text-align: center;
    }

    .sobreText h2 {
        font-size: var(--font-size-3xl);
    }

    .sobreText p {
        font-size: var(--font-size-md);
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .sobreText h2 {
        font-size: var(--font-size-2xl);
    }

    .sobreText p {
        font-size: var(--font-size-sm);
    }
}